@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.05);
}

.logo {
  height: 60px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  padding: 12px 0;
  margin: 0 16px;
  color: #888888;
  text-decoration: none;
}

nav ul li a:active {
  color: #080808;
}

nav ul li a:hover {
  color: #080808;
}

/* SECTION HERO */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 0;
}

#heroCol {
  flex: 50%;
  width: 50%;
  padding: 0 72px;
}

.hero-quotes h1 {
  font-size: 42px;
}
.hero-quotes p {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.hero-quotes form {
  margin-top: 48px;
  display: flex;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.hero-quotes form input {
  width: 80%;
  padding: 10px;
  border: none;
  font-size: 14px;
}
.hero-quotes button {
  width: 20%;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background-color: #888888;
}
/* END OF SECTION HERO */

.container {
  padding: 5% 0;
}

/* FEATURES SECTION */
#features {
  padding: 36px 72px;
  color: #fff;
  background-color: #888888;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCol {
  flex: 33.3%;
  max-width: 33.3%;
}

.featureCard {
  padding: 32px 24px;
}
.featureCard p {
  margin-top: 16px;
  line-height: 24px;
}
/* END OF FEATURES SECTION */

/* TESTIMONAL SECTION */
#testimonial {
  padding: 36px 72px;
}

.flexRow-testi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexCol-testi-outer {
  flex: 50%;
  max-width: 50%;
  padding: 32px 24px;
}
.flexCol-testi-outer p {
  margin-top: 24px;
}
.flexRow-testi-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}
.flexCol-testi-inner {
  flex: 60% !important;
  min-width: 60% !important;
}
.testiCard {
  padding: 32px 24px;
  margin: 16px 24px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.testiCard p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 16px;
  line-height: 22px;
}
/* END OF TESTIMONAL SECTION */
